html, body
  font-family: 'Source Sans 3', sans-serif

.bg-primary
  background-color: rgba($color-dark-blue, var(--bs-bg-opacity)) !important

.bg-secondary
  background-color: rgba($color-light-gray, var(--bs-bg-opacity)) !important

.text-primary
  color: $color-dark-blue !important

.text-secondary
  color: $color-light-gray !important
